@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* 블럭 1번 */
.box1{
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position-x: center;
    background-image: url(img/peach1.png)
}
.cont1{
    width: 1100px;
    height: 800px;
    margin: 0 auto;
    position: relative;
}
.logo{
    position: absolute;
    top: 87px;
}
.title{
    position: absolute;
    top: 227px;
    left: 91px;
}
.can1{
    position: absolute;
    bottom: 0;
    right: 179px;
    width: 354px;
    height: 601px;
}
/* 블럭 2번 */
.box2{
    width: 100%;
    height: 280px;
    background-color: #F96A6A;
}
.cont2{
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.text{
    width: 776px;
    height: 117px;
}
/* 블럭 3번 */
.box3{
    width: 100%;
    height: 950px;
    background-image: url(img/peach2.png);
    background-size: cover;
    text-align: center;
}
.cont3{
    width: 1100px;
    height: 1109px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
}
.can2{
    width: 450px;
    height: 925px;
    position: absolute;
    top: 220px;
}
/* 블럭 4번 */
.box4{
    width: 100%;
    height: 400px;
    text-align: center;
}
.box4 > img{
    padding-top: 264px;
}
/* 블럭 5번 */
.box5{
    width: 100%;
    height: 554px;
}
.cont5{
    width: 775px;
    height: 554px;
    margin: 0 auto;
}
.txt{
    width: 775px;
    height: 390px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    margin-top: 43px;
    color: #070707;
}
/* 블럭 6번 */
.box6{
    width: 100%;
    height: 784px;
    background-image: url(img/peach3.png);
    background-position: center;
    background-size: cover;
}
.cont6{
    width: 1100px;
    height: 784px;
    margin: 0 auto;
}
.cont6 > img{
    padding-top: 162px;
    padding-left: 847px;
}

/* 블럭 7번 */
.box7{
    width: 100%;
    height: 1032px;
    text-align: center;
}
.cont7{
    width: 1100px;
    height: 1032px;
    margin: 0 auto;
}
.cont7 > img{
    padding-top: 200px;
}

/* 블럭 8번 */
.box8{
    width: 100%;
    height: 700px;
    background-image: url(img/peach4.png);
    background-color: #FBD9BF;
}
.cont8{
    width: 1100px;
    height: 700px;
    margin: 0 auto;
    text-align: center;
}
.cont8 > img{
    padding-top: 102px;
}